# Supabase
SUPABASE_PROJECT_REF=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# Resend (transactional email)
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@zivelo.dev
